<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466968454371-jkpqs0bbk73bpla6anm9984mj6prq08o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466968454371-jkpqs0bbk73bpla6anm9984mj6prq08o</string>
	<key>API_KEY</key>
	<string>AIzaSyA9ogwHCMXuA9TuozF331X7fsy1ijQIcw0</string>
	<key>GCM_SENDER_ID</key>
	<string>466968454371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chloe.Golden-Hour</string>
	<key>PROJECT_ID</key>
	<string>golden-hour-6799c</string>
	<key>STORAGE_BUCKET</key>
	<string>golden-hour-6799c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466968454371:ios:063625e3d1f863b4</string>
	<key>DATABASE_URL</key>
	<string>https://golden-hour-6799c.firebaseio.com</string>
</dict>
</plist>